In [9]:
import pandas as pd

df = pd.read_csv("../data/online_gaming_behavior_dataset.csv")
df.describe()

           PlayerID           Age  ...   PlayerLevel  AchievementsUnlocked
count  40034.000000  40034.000000  ...  40034.000000          40034.000000
mean   29016.500000     31.992531  ...     49.655568             24.526477
std    11556.964675     10.043227  ...     28.588379             14.430726
min     9000.000000     15.000000  ...      1.000000              0.000000
25%    19008.250000     23.000000  ...     25.000000             12.000000
50%    29016.500000     32.000000  ...     49.000000             25.000000
75%    39024.750000     41.000000  ...     74.000000             37.000000
max    49033.000000     49.000000  ...     99.000000             49.000000

[8 rows x 8 columns]

In [10]:
df

       PlayerID  Age  Gender  ... PlayerLevel AchievementsUnlocked  EngagementLevel
0          9000   43    Male  ...          79                   25           Medium
1          9001   29  Female  ...          11                   10           Medium
2          9002   22  Female  ...          35                   41             High
3          9003   35    Male  ...          57                   47           Medium
4          9004   33    Male  ...          95                   37           Medium
...         ...  ...     ...  ...         ...                  ...              ...
40029     49029   32    Male  ...          85                   14           Medium
40030     49030   44  Female  ...          71                   27             High
40031     49031   15  Female  ...          29                    1             High
40032     49032   34    Male  ...          70                   10           Medium
40033     49033   19    Male  ...          72                   39           Medium

[40034 rows x 13 columns]

In [11]:
df.drop("PlayerID", axis=1)
y = df["EngagementLevel"]
X = df.drop("EngagementLevel", axis=1)

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

encX = OneHotEncoder()
X_enc = encX.fit_transform(X)

encY = LabelEncoder()
y_enc = encY.fit_transform(y)

X_train, X_test, y_train, y_test = train_test_split(
    X_enc, y_enc, test_size=0.33, random_state=42)

In [13]:
from sklearn.metrics import classification_report

def train_evaluate(model):
    clf = model()
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_test)
    print(classification_report(y_pred,y_test))

In [14]:
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier

train_evaluate(SVC)

train_evaluate(RandomForestClassifier)

train_evaluate(MLPClassifier)

              precision    recall  f1-score   support

           0       0.82      0.85      0.83      3297
           1       0.69      0.84      0.76      2731
           2       0.89      0.79      0.84      7184

    accuracy                           0.82     13212
   macro avg       0.80      0.83      0.81     13212
weighted avg       0.83      0.82      0.82     13212

              precision    recall  f1-score   support

           0       0.73      0.90      0.80      2775
           1       0.65      0.85      0.74      2565
           2       0.92      0.75      0.83      7872

    accuracy                           0.80     13212
   macro avg       0.77      0.83      0.79     13212
weighted avg       0.83      0.80      0.81     13212

              precision    recall  f1-score   support

           0       0.83      0.87      0.85      3270
           1       0.74      0.85      0.79      2913
           2       0.90      0.82      0.86      7029

    accuracy                           0.84     13212
   macro avg       0.82      0.84      0.83     13212
weighted avg       0.84      0.84      0.84     13212

In [15]:
from sklearn.tree import DecisionTreeClassifier

train_evaluate(DecisionTreeClassifier)

              precision    recall  f1-score   support

           0       0.86      0.89      0.87      3322
           1       0.80      0.82      0.81      3271
           2       0.89      0.86      0.88      6619

    accuracy                           0.86     13212
   macro avg       0.85      0.86      0.85     13212
weighted avg       0.86      0.86      0.86     13212